@charset "UTF-8";


/* body, form, td, th, pre{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 나눔고딕, tahoma, 돋움, verdana;
	
} */

/* input{
	font-size: 9pt;
	color: black;
	font-family: 나눔고딕, tahoma, 돋움, verdana;
	height: 20px;
	
} */

/* a:link{text-decoration: none; color: #696969}
a:hover {text-decoration: none; color: #66ccff}
a:visited{text-decoration: none; color: #330066}
 */
.tbcss1, .tbcss1 td, .tbcss1 th{
	border-collapse: collapse;
	border: 1px solid black;
	font-size: 9pt;
	font-family: 나눔고딕, tahoma, 돋움, verdana;
}

.tbcss2, .tbcss2 td, .tbcss2 th{
	border-collapse: collapse;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	border-left: 0px;
	border-right: 0px;
	
	font-size: 9pt;
	font-family: 나눔고딕, tahoma, 돋움, verdana;
}













